/* @import 'tailwindcss'; */

.footer-bg {
  background-color: #cf2234; /* Replace with your desired color */
}
/* Cart ko image ko ho */
.card-img-top {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 300px; /* Set a fixed height for consistency */
  object-fit: cover; /* Ensures the image scales without distortion while covering the area */
  border-radius: 5px; /* Optional: adds slight rounding for aesthetics */
}
.card-img-till {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px; /* Ensures the image takes the full width of the card */
   /* Set a fixed height for consistency */
  object-fit: cover; /* Ensures the image scales without distortion while covering the area */
  /* Optional: adds slight rounding for aesthetics */
}
.food-card {
  height: 100%; /* Ensures uniform height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-card-body {
  flex-grow: 1;
  text-align: center;
}

.food-image {
  height: 180px;
  object-fit: cover;
}
.textorder
{
  color :red;
}
.sticky-bottom-price {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.empty-cart-box {
  border: 2px solid #ccc;
  padding-top: 50px;
  padding: 90px;
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.cartempty {
  font-size: 50px;
  color: red;
  font-weight: bold;
}
.sticky {
  position: sticky;
  top: 0;
 
}

/* sidebar */
.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  transition: all 0.3s;
}

.sidebar .nav-link {
  color: #333; /* Text stays dark */
  border-radius: 4px;
}


/* Hover effect: background becomes accent, text stays default */
.sidebar .nav-link:hover {
  background-color: #DC3545;
  color: white !important;
}

/* Active link: background is accent, text stays default */
.sidebar .nav-link.active {
  background-color: #DC3545 !important;
  color: white !important;
}

.btn-toggle {
  background-color: #DC3545;
  color: white;
  border: none;
  margin: 10px;
}

.btn-toggle:hover {
  background-color: #bb2d3b;
}
